<!-- Work Experience Section -->
<section id="education_journey" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education journey</h2>
                <h3 class="section-subheading text-muted"> Here's are a few courses I've taken in my journey to become a Software Engineer.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/edu-journey/harvardx3.jpeg" alt="harvardx logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> July 2020 - June 2021 </h4>
                                <h4 class="subheading"> <a href="https://courses.edx.org/certificates/edc842a5bf964ca39398fc56b2f0e048" alt="my_certificate">CS50's Introduction to Computer Science</a></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> This course teaches students how to think algorithmically and solve problems efficiently. </p>
                                <p class="text-muted"> Topics include: abstraction | algorithms | data structures | encapsulation | resource management | security | software engineering. </p>
                                <p class="text-muted"> Languages covered: C | Python | SQL | HTML | CSS | JavaScript</p>
                                <p class="text-muted"> For my final project, I created the <a href="https://jobhuntmanger.herokuapp.com/" alt="the_job_hunt_manager_link">Job Hunt Manager</a>.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/edu-journey/edxlogo-dark.jpeg" alt="edx logo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2018 - April 2020 </h4>
                                <h4 class="subheading"><a href="https://credentials.edx.org/credentials/af84a1b75273455da36a3917a1080e19/" alt="professional_certificate_gtx"> Introduction to Python Programming</a></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Introduction to Computing in Python </a> is a series of 4 courses built from Georgia Tech’s online for-credit version of CS1301: Introduction to Computing. 
                                </p>
                                <p class="text-muted"> The four courses: 
                                    <ol>
                                        <li> <a href="https://courses.edx.org/certificates/1224be0869ab4379bbb9ec80fd0152ce" alt="first_certificate_edx">Fundamentals and Procedural Programming</a></li>
                                        <li> <a href="https://courses.edx.org/certificates/3361ebde5f9b4ae69232a90ae7fc565e" alt="second_certificate_edx">Control Structures</a></li>
                                        <li> <a href="https://courses.edx.org/certificates/98057c584673446191a0755fe2036bb3" alt="third_certificate_edx">Data Structures</a></li>
                                        <li> <a href="https://courses.edx.org/certificates/f251f1c15bfb45b594b3a2dc8038fdce" alt="fourth_certificate_edx">Data Structures</a></li>
                                    </ol>
                                </p>
                                <p class="text-muted"> 
                                    This Professional Certificate</a> follows a unique design, separately covering the general, fundamental principles of computer science — which are applicable to any programming language — and then rapidly transitioning into implementing those principles in Python.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
