<!-- Work Experience Section -->
    <section id="work_experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <h3 class="section-subheading text-muted"> My career up 'til this point.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/work-experience/findunusual-cards.jpg" alt="findunusual merchandise">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Find Unusual</h4>
                                    <h4 class="subheading">October 2019 - January 2020</h4>
                                    <h4 class="subheading">Camden Market, London, UK</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        From setting up to closing, when on shift I was independently responsible for the effective running of a market stall, on behalf of the company. I would engage with clients, providing everything from assistance and product knowledge, to product purchases. 
                                    </p>
                                    <br/>
                                    <p class="text-muted">
                                        To ensure we had sufficient products, I would take inventory of what we had available and make the applicable stock orders. Through this role, I learnt how to adjust watch straps and sunglass legs.
                                    </p>
                                    <br/>
                                    <p class="text-muted"> 
                                        I'm honoured to have worked for Find Unusual & the team! Find Unusual truly has some magnificient & unique sunglasses, watches & a wide variety of products to offer. I am still very much in love with my card holder & wooden watch - simple & elegant! Definitely worth taking a look for yourself when you're in Camden Market.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/work-experience/vandateam2.jpg" alt="V & A team">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Cellucity T/A Vodacom Pty Ltd</h4>
                                    <h4 class="subheading">February 2019 - August 2019 </h4>
                                    <h4 class="subheading">V&A Waterfront Branch, Cape Town, South Africa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        In my role as a sales consultant, I focused on giving the very best service to every customer. This resulted in numerous recognitions of my excellent service, word of mouth, and an improved reputation for the company reputation.
                                    </p>
                                    <br/>
                                    <p class="text-muted">
                                        During my time at the V&A Waterfront Branch, I saw an opportunity to support the manager, and my team. I took the initiative to personally take inventory of our serialised stock and to make the relevant investigations, when needed, to ensure all our stock was present and accounted for. 
                                        I introduced a necessary filing system, to ensure it was available and accessible to everyone. My managers found this tremendously helpful and supportive, showing me a great deal of appreciation and recognition, and I thoroughly enjoyed the responsibility.
                                    </p>
                                    <br/>
                                    <p class="text-muted">
                                        Working together with the team at the V&A was a great experience & working at a small branch again allowed me the opportunity to assist with the stock inventory once more (which I thoroughly enjoyed). This photo was taken during my farewell (to the team) - I had truly amazing evening!  
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/work-experience/cw-vodacom-casual.jpg" alt="Canal Walk Team">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015 - January 2019 </h4>
                                    <h4 class="subheading">Cellucity - Canal Walk Branch, Cape Town, South Africa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        In my role as a sales consultant, I focused on giving the very best service to every customer. This resulted in numerous recognitions of my excellent service, word of mouth, and an improved reputation for the company reputation.
                                    </p>
                                    <br/>
                                    <p class="text-muted">
                                        During my time at the V&A Waterfront Branch, I saw an opportunity to support the manager, and my team. I took the initiative to personally take inventory of our serialised stock and to make the relevant investigations, when needed, to ensure all our stock was present and accounted for. 
                                        I introduced a necessary filing system, to ensure it was available and accessible to everyone. 
                                    </p>
                                    <br/>
                                    <p class="text-muted">
                                        My managers found this tremendously helpful and supportive, showing me a great deal of appreciation and recognition, and I thoroughly enjoyed the responsibility.
                                    </p>
                                    <p class="text-muted">
                                        We went on several team-building trips over the three years I was part of this marvelous team, & this picture in particular was taken when we went to Ratanga Jungle, a local theme park. I love my experience I've had working with this marvellous team (far greater than the 7 of us)! 
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
