<!-- Work Experience Section -->
    <section id="work_experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <h3 class="section-subheading text-muted"> My career up 'til this point.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019 - January 2020</h4>
                                    <h4 class="subheading">Find Unusual</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From setting up to closing, when on shift I was independently responsible for the effective running of a market stall, on behalf of the company. I would engage with clients, providing everything from assistance and product knowledge, to product purchases. To ensure we had sufficient products, I would take inventory of what we had available and make the applicable stock orders. Through this role, I learnt how to adjust watch straps and sunglass legs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015 - August 2019 </h4>
                                    <h4 class="subheading">Cellucity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        In my role as a sales consultant, I focused on giving the very best service to every customer. This resulted in numerous recognitions of my excellent service, word of mouth, and an improved reputation for the company reputation.
                                        During my time at the V&A Waterfront Branch, I saw an opportunity to support the manager, and my team. I took the initiative to personally take inventory of our serialised stock and to make the relevant investigations, when needed, to ensure all our stock was present and accounted for. 
                                        I introduced a necessary filing system, to ensure it was available and accessible to everyone. My managers found this tremendously helpful and supportive, showing me a great deal of appreciation and recognition, and I thoroughly enjoyed the responsibility.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
